# Multiple Linear Regression

## Importing the libraries

In [1]:
import cudf
import cupy as cp
from cuml.cluster import KMeans
from cuml.preprocessing.model_selection import train_test_split
from cuml.linear_model import LinearRegression
from cuml.metrics.regression import r2_score

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

import numpy as np
import numpy.ma as ma
from numpy import *

import pandas as pd

import matplotlib.pyplot as plt

import sys

%reload_ext memory_profiler

### Checking Conda Environment

In [2]:
print(sys.executable)

/home/eos/miniconda2/envs/rapids.ai-cuml/bin/python3

In [3]:
print(sys.version)

3.8.5 | packaged by conda-forge | (default, Sep 16 2020, 18:01:20)
[GCC 7.5.0]

## Testing rapids/cuml

In [4]:
def np2cudf(df):
    '''converts numpy dataframe to cuda dataframe'''
    df = pd.DataFrame({'fea%d'%i:df[:,i] for i in range(df.shape[1])})
    pdf = cudf.DataFrame()
    
    for c,column in enumerate(df):
        pdf[str(c)] = df[column]
        return pdf

kmeans_float = KMeans(n_clusters=2).fit(np2cudf(np.array([[1.,1.], [1.,4.], [1.,0.]])))
print(kmeans_float.cluster_centers_)

0    1.0
1    1.0
dtype: float64

## Importing the dataset

In [5]:
cuda_df = cudf.read_csv('/home/eos/Downloads/aug.csv')
cuda_df.info()

<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 983991 entries, 0 to 983990
Data columns (total 83 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Local Job Id                                      983991 non-null  int64
 1   System Username (Deidentified)                    983991 non-null  object
 2   Shared                                            983991 non-null  int64
 3   Cores                                             983991 non-null  int64
 4   Nodes                                             983991 non-null  int64
 5   Total Cores Available                             983991 non-null  int64
 6   Cpu Time                                          983991 non-null  int64
 7   Node Time                                         983991 non-null  int64
 8   Requested Nodes                                   983991 non-null  int64
 9   Requested Wall Time                               983985 non-null  float64
 10  Queue                                             983991 non-null  object
 11  Wait Time                                         983991 non-null  int64
 12  Wall Time                                         983991 non-null  int64
 13  Eligible Time (Timestamp)                         243662 non-null  float64
 14  End Time (Timestamp)                              983991 non-null  int64
 15  Start Time (Timestamp)                            983991 non-null  int64
 16  Submit Time (Timestamp)                           983991 non-null  int64
 17  Organization                                      983991 non-null  object
 18  Resource                                          983991 non-null  object
 19  Field of Science                                  983991 non-null  object
 20  PI                                                983991 non-null  object
 21  User                                              983991 non-null  object
 22  User Institution                                  983991 non-null  object
 23  Timezone                                          983991 non-null  object
 24  Gpu0 Nv Utilization                               2103 non-null    float64
 25  Gpu0 Nv Mem Used                                  2103 non-null    float64
 26  CPU Idle                                          564568 non-null  float64
 27  CPU System                                        565961 non-null  float64
 28  CPU User                                          565961 non-null  float64
 29  FLOPS                                             0 non-null       int8
 30  CPI (ref)                                         166571 non-null  float64
 31  CPI (ref) cov                                     166571 non-null  float64
 32  CPLD (ref)                                        51987 non-null   float64
 33  CPLD (ref) cov                                    51987 non-null   float64
 34  CPU User cov                                      565961 non-null  float64
 35  FLOPS cov                                         0 non-null       int8
 36  Block device ""sda"" data read                    565591 non-null  float64
 37  Block device ""sda"" data written                 565591 non-null  float64
 38  Mount point ""home"" data read                    0 non-null       int8
 39  Mount point ""home"" data written                 148847 non-null  float64
 40  Mount point ""scratch"" data read                 0 non-null       int8
 41  Mount point ""scratch"" data written              502874 non-null  float64
 42  Mount point ""work"" data read                    0 non-null       int8
 43  Mount point ""work"" data written                 148847 non-null  float64
 44  Block device ""sda"" read operations              565591 non-null  float64
 45  Block device ""sda"" write operations             565591 non-null  float64
 46  Block device ""sda"" data read cov                565591 non-null  float64
 47  Block device ""sda"" data written cov             565591 non-null  float64
 48  Mount point ""home"" data written cov             148847 non-null  float64
 49  Mount point ""scratch"" data written cov          509270 non-null  float64
 50  Mount point ""work"" data written cov             148847 non-null  float64
 51  Memory Transferred                                402360 non-null  float64
 52  Total memory used                                 563329 non-null  float64
 53  Memory Transferred cov                            402360 non-null  float64
 54  Memory Used Cov                                   563329 non-null  float64
 55  Peak Memory Usage Ratio                           528639 non-null  float64
 56  Total memory used cov                             563329 non-null  float64
 57  Ib Rx Bytes                                       6395 non-null    float64
 58  Net Eth0 Rx                                       172932 non-null  float64
 59  Net Eth0 Tx                                       172932 non-null  float64
 60  Net Ib0 Rx                                        417121 non-null  float64
 61  Net Ib0 Tx                                        417121 non-null  float64
 62  Net Mic0 Rx                                       6395 non-null    float64
 63  Net Mic0 Tx                                       6395 non-null    float64
 64  Net Mic1 Rx                                       5228 non-null    float64
 65  Net Mic1 Tx                                       5228 non-null    float64
 66  Parallel filesystem lustre bytes received         155242 non-null  float64
 67  Parallel filesystem lustre bytes transmitted      155242 non-null  float64
 68  Parallel filesystem lustre messages received      155242 non-null  float64
 69  Parallel filesystem lustre messages transmitted   155242 non-null  float64
 70  Net Eth0 Rx Packets                               120509 non-null  float64
 71  Net Eth0 Tx Packets                               120509 non-null  float64
 72  Net Ib0 Rx Packets                                360423 non-null  float64
 73  Net Ib0 Tx Packets                                360423 non-null  float64
 74  Net Mic0 Rx Packets                               6395 non-null    float64
 75  Net Mic0 Tx Packets                               6395 non-null    float64
 76  Net Mic1 Rx Packets                               5228 non-null    float64
 77  Net Mic1 Tx Packets                               5228 non-null    float64
 78  Net Eth0 Rx Cov                                   172932 non-null  float64
 79  Net Eth0 Tx Cov                                   172932 non-null  float64
 80  Net Ib0 Rx Cov                                    417121 non-null  float64
 81  Net Ib0 Tx Cov                                    417121 non-null  float64
 82  Parallel filesystem lustre bytes transmitted cov  155242 non-null  float64
dtypes: float64(56), int64(13), int8(5), object(9)
memory usage: 755.0+ MB

In [6]:
cuda_df.tail()

,Local Job Id,System Username (Deidentified),Shared,Cores,Nodes,Total Cores Available,Cpu Time,Node Time,Requested Nodes,Requested Wall Time,...,Net Ib0 Tx Packets,Net Mic0 Rx Packets,Net Mic0 Tx Packets,Net Mic1 Rx Packets,Net Mic1 Tx Packets,Net Eth0 Rx Cov,Net Eth0 Tx Cov,Net Ib0 Rx Cov,Net Ib0 Tx Cov,Parallel filesystem lustre bytes transmitted cov
983986,35595636,81fa471af542d305ac76c24e3979beb60b84371a,0,7,0,0,0,0,0,600.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
983987,35595671,81fa471af542d305ac76c24e3979beb60b84371a,0,7,1,0,4291,613,0,600.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
983988,35595809,16cbafae067d7af77ec005a16e6d8fc03860c08d,0,6,0,0,0,0,0,86400.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
983989,35595821,16cbafae067d7af77ec005a16e6d8fc03860c08d,0,6,1,0,24,4,0,86400.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
983990,35595829,81fa471af542d305ac76c24e3979beb60b84371a,0,7,1,0,4396,628,0,600.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [7]:
X_cupy_ndarray = cuda_df.iloc[1:, [2,3,4,5,6,7,8,11,12,14]].values
X_cupy_float_ndarray = X_cupy_ndarray.astype(float)
X_cupy_float_ndarray[0]
print(X_cupy_float_ndarray)
print(type(X_cupy_float_ndarray))

[[0.00000000e+00 6.40000000e+02 3.20000000e+01 ... 3.61330000e+05
  9.10830000e+04 1.59624213e+09]
 [0.00000000e+00 6.40000000e+02 3.20000000e+01 ... 3.66774000e+05
  8.49400000e+04 1.59624214e+09]
 [0.00000000e+00 6.40000000e+02 3.20000000e+01 ... 3.78775000e+05
  7.29350000e+04 1.59624213e+09]
 ...
 [0.00000000e+00 6.00000000e+00 0.00000000e+00 ... 1.99000000e+02
  0.00000000e+00 1.59857146e+09]
 [0.00000000e+00 6.00000000e+00 1.00000000e+00 ... 9.50000000e+01
  4.00000000e+00 1.59857139e+09]
 [0.00000000e+00 7.00000000e+00 1.00000000e+00 ... 4.00000000e+00
  6.28000000e+02 1.59857198e+09]]
<class 'cupy.core.core.ndarray'>

In [9]:
y_cudf = cuda_df.iloc[1:, [9]]
y_float_cudf = y_cudf.astype(float)
print(y_float_cudf)
print(type(y_float_cudf))

        Requested Wall Time
1                  172800.0
2                  259200.0
3                  259200.0
4                  259200.0
5                  259200.0
...                     ...
983986                600.0
983987                600.0
983988              86400.0
983989              86400.0
983990                600.0

[983990 rows x 1 columns]
<class 'cudf.core.dataframe.DataFrame'>

## Preprocessing

In [10]:
print(f"y[target] has NaNs? {y_float_cudf.isnull().values.any()}")
print(f"Number of NaNs in y[target] >> {y_float_cudf.isnull().values.sum()}")

y[target] has NaNs? True
Number of NaNs in y[target] >> 6

### Replace nan's with mean

In [11]:
y_float_cudf_no_nan = y_float_cudf.fillna(y_float_cudf.mean())

In [12]:
print(f"y[target] has NaNs? {y_float_cudf_no_nan.isnull().values.any()}")
print(f"Number of NaNs in y[target] >> {y_float_cudf_no_nan.isnull().values.sum()}")

y[target] has NaNs? False
Number of NaNs in y[target] >> 0

In [13]:
y_float_no_nan_cupy_ndarry = cp.array(y_float_cudf_no_nan.to_gpu_matrix())
print(y_float_no_nan_cupy_ndarry)
print(type(y_float_no_nan_cupy_ndarry))

[[172800.]
 [259200.]
 [259200.]
 ...
 [ 86400.]
 [ 86400.]
 [   600.]]
<class 'cupy.core.core.ndarray'>

## Splitting the dataset into the Training set and Test set

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_cupy_float_ndarray, y_float_no_nan_cupy_ndarry, train_size = 0.9)
print(X_train[0:3])

[[0.00000000e+00 8.00000000e+00 1.00000000e+00 2.40000000e+01
  1.15312000e+05 1.44140000e+04 0.00000000e+00 0.00000000e+00
  1.44140000e+04 1.59677454e+09]
 [0.00000000e+00 4.80000000e+01 2.00000000e+00 4.80000000e+01
  2.53440000e+04 1.05600000e+03 0.00000000e+00 1.20000000e+01
  5.28000000e+02 1.59729218e+09]
 [0.00000000e+00 5.44000000e+02 2.00000000e+00 5.44000000e+02
  8.70400000e+03 3.20000000e+01 0.00000000e+00 4.10000000e+01
  1.60000000e+01 1.59716857e+09]]

In [15]:
print(y_train[0:3])

[[ 14400.]
 [360000.]
 [  3600.]]

## Training the Multiple Linear Regression model on the Training set

In [16]:
linear_regressor = LinearRegression(fit_intercept = True, normalize = False, algorithm = "eig")
%timeit linear_regressor.fit(X_train, y_train)
%memit linear_regressor.fit(X_train, y_train)

50.2 ms ± 15.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
peak memory: 2903.94 MiB, increment: 1.14 MiB

## Predicting the Test set results

In [17]:
y_pred = linear_regressor.predict(X_test)
np.set_printoptions(precision = 2)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1))

[[123116.13   2400.  ]
 [191892.25 172800.  ]
 [ 65312.42  14400.  ]
 ...
 [ 57670.69 172800.  ]
 [ 54941.66   7200.  ]
 [ 71545.7   21600.  ]]

In [21]:
y_scores_np_array = cp.asnumpy(y_pred)
print(f"y-scores: {y_scores_np_array}")
print(f"Number of y-scores: {len(y_scores_np_array)}")
print(f"Datatype: {type(y_scores_np_array)}")
print(f"3rd y-score: {y_scores_np_array[2]}")
print(f"3rd y-score datatype: {type(y_scores_np_array[2])}")

y-scores: [123116.13 191892.25  65312.42 ...  57670.69  54941.66  71545.7 ]
Number of y-scores: 98399
Datatype: <class 'numpy.ndarray'>
3rd y-score: 65312.42316958308
3rd y-score datatype: <class 'numpy.float64'>

In [22]:
y_true_np_array = cp.asnumpy(y_test)
print(f"y-trues:\n {y_true_np_array}")
print(f"Number of y-trues: {len(y_true_np_array)}")
print(f"Datatype: {type(y_true_np_array)}")
print(f"3rd y-true: {y_true_np_array[2]}")
print(f"3rd y-true datatype: {type(y_true_np_array[2])}")

y-trues:
 [[  2400.]
 [172800.]
 [ 14400.]
 ...
 [172800.]
 [  7200.]
 [ 21600.]]
Number of y-trues: 98399
Datatype: <class 'numpy.ndarray'>
3rd y-true: [14400.]
3rd y-true datatype: <class 'numpy.ndarray'>

In [38]:
print(f"R2 Score [cuml.metrics]: {mean_squared_error(y_true_np_array, y_scores_np_array)}")
print(f"Mean Absolute Error [sklearn.metrics]: {mean_squared_error(y_true_np_array, y_scores_np_array)}")
print(f"Mean Squared Error [sklearn.metrics]: {mean_squared_error(y_true_np_array, y_scores_np_array)}")

R2 Score [cuml.metrics]: 7599787876.979726
Mean Absolute Error [sklearn.metrics]: 7599787876.979726
Mean Squared Error [sklearn.metrics]: 7599787876.979726